body{
    background-image: url("../img/fondoCoordinador.jpg");
}
#formregistro{
    background-color: #EEEEEE;
    position: absolute;
    top: 15%;
    left: 40%;
    height: 110%;
    width: 30%;
    border-radius: 10px;
    
}
.input-field input[type=text]:focus + label{
 color: #880000 !important;
}

.input-field input[type=text]:focus, .input-field input[type=number]:focus, .input-field input[type=password]:focus{
 border-bottom: 1px solid #880000 !important;
 box-shadow: 0 1px 0 0 #880000 !important;
}

label{
    color: black !important;
}
input[type=text],input[type=password], input[type=number]{
    border-color: #880000 !important;
}

#nam{
    font-size: 3vw;
    text-align: center;
}
div{
    padding-left: 10%;
    padding-right: 10%;
}
label{
    padding-left: 10%;
    padding-right: 10%;
}
button{
    position: absolute !important;
    right: 10%;
}   
#validacion{
   position: absolute;
   right: 10%;
   top: -10%;
}