body{
    background-image: url("../img/fondoCoordinador.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    background: linear-gradient(to right, #880000, #190a05);
}
#slide-out{
   background: linear-gradient(to right, #880000, #190a05);
}

#map {
        height: 35vw;
}
     