body{
    background-image: url("../img/fondoCoordinador.jpg") ;
    background-size: cover;
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}
nav{
    background-color: #880000;
}
  main {
    flex: 1 0 auto;
  }
  footer{
      background-color: #880000;
  }
   
  #imagenes{
    position:absolute;
    margin-top: 20vw;
    margin-left: 5vw;
}
img{
    
}
a{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}   