body{
    background-image: url("../img/bus.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Abel;
}
main {
    flex: 1 0 auto;
  }
   .row:after{
      display: none;
  }
  footer{
      background: linear-gradient(to right,#900C3F,#4F011F,#900C3F);
      height: 8%;
  }
  
#formregistro{
    background-color: #FCFCFC;
    border-radius: 10px;
    position: relative;
    top: 2vw;
    left:20%;
    height:80%;
    width:60%;
}

.input-field input[type=text]:focus + label{
 color: #880000 !important;
}

.input-field input[type=text]:focus, .input-field input[type=number]:focus, .input-field input[type=password]:focus{
 border-bottom: 1px solid #D20051 !important;
 box-shadow: 0 1px 0 0 #D20051 !important;
}

label{
    color: black !important;
}
input[type=text],input[type=password], input[type=number]{
    border-color: #D20051!important;
}

#nam{
    font-size: 3vw;
    text-align: center;
}
#namA{
    font-size: 2    vw;
    text-align: center;
}
main>div>form>div{
    padding-left: 5%;
    padding-right: 5%;
}
label{
    padding-left: 10%;
    padding-right: 10%;
}

#validacion{
   position: absolute;
   right: 10%;
   top: -10%;
}
nav{
    /*background-color: #880000;*/
      background: linear-gradient(to right,#900C3F,#4F011F,#900C3F);
}

a{
    color: #000;
}
button{
    background: linear-gradient(to right,#900C3F,#4F011F,#900C3F);
}
#formregistroAl{
    background: #eee
}

#formregistroAlu{
    background: #eee;
    position: relative;
    top: 10vh;
}